@import url(https://fonts.googleapis.com/css?family=Playball);

* {
	background-color: #251B12;
	/*color: #5A3A22;*/
	color: #eae0c2;
	text-shadow: #000000 5px 5px 1px;
	font-family: 'Playball', 'Times new roman',  sans-serif;
	font-size: 12pt;
}


header h1{
	font-size: 200%;
	padding-left: 10px;
}

footer {
	text-align: center;
	font-style: italic;
	font-size: 10pt;
}

nav {
	float: left;
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;

	-webkit-transition: width .5s linear;
	-moz-transition: width .5s linear;
	-ms-transition: width .5s linear;
	-o-transition: width .5s linear;
	transition: width .5s linear;
}

nav div div {
	display:inline-block;
	margin: 0;
	padding: 0 5px;
}

nav .ul {
	margin: 0;
	display: inline;
	list-style: none;
}

nav li {
	display:inline-block;
	margin: 0;
}

.menu:hover .menu-content {
	display: initial;
}

.menu-content {
	display: none;
}

#content {
	max-width: 80%;
	clear: both;
	margin: auto;
	margin-top: 70px;
	padding: 0;
	text-align: center;
}

#content table {
	margin: auto;
	text-align: center;
}

#content tr {
	text-align: center;
}

tr:hover td:not(:hover) {
	-webkit-filter: grayscale(1) blur(2px);
	-moz-filter: grayscale(1) blur(2px);
	-ms-filter: grayscale(1) blur(2px);
	-o-filter: grayscale(1) blur(2px);
	filter: grayscale(1) blur(2px);
}

#content td {
	margin: 0;
	padding: auto;
	display: inline-block;

	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}

#content td:hover {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}

.crop {
	position: absolute;
	width: 300px;
	height: 300px;
	overflow: hidden;
}

.crop .image {
	z-index: 1;
	max-width: 600px;
	max-height: 600px;
}

.crop .image:hover {
	z-index: 5;
}

button {
	display: inline-block;
	color: #251B12;
	font-weight: bold;
	text-shadow: none;
	padding: 5px 10px;
	border-radius: 10px;
	border: 1px solid #514841;
	box-shadow: #000000 2px 2px 2px;
	cursor: pointer;
	background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194);
}
