@import url(http://fonts.googleapis.com/css?family=Courgette);

body {
	background-color: #bbbbbb;
	font-family: 'Courgette', sans-serif;
}

header {
	border: 1px solid black;
}

header h1{
	font-size: 200%;
	padding-left: 10px;
}

footer {
	text-align: center;
	font-style: italic;
	font-size: 10pt;
}

nav {
	float: left;
	border: 1px solid black;
	border-top: none;
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;

	-webkit-transition: width .5s linear;
	-moz-transition: width .5s linear;
	-ms-transition: width .5s linear;
	-o-transition: width .5s linear;
	transition: width .5s linear;
}

nav div div {
	display:inline-block;
	border-right: 1px solid black;
	margin: 2px;
	padding: 0 5px;
}

nav .ul {
	display: inline;
	list-style: none;
}

nav li {
	display:inline-block;
	margin: 0 20px;
}

.menu:hover {
	outline: none;
}

.menu:hover .menu-content {
	display: initial;
}

.menu-content {
	display: none;
}

#content {
	clear: both;
	margin: auto;
	padding: 0 50px;
	text-align: center;
}

#content table {
	margin: auto;
	text-align: center;
}

#content tr {
	text-align: center;
}

tr:hover td:not(:hover) {
	-webkit-filter: grayscale(1) blur(2px);
	-moz-filter: grayscale(1) blur(2px);
	-ms-filter: grayscale(1) blur(2px);
	-o-filter: grayscale(1) blur(2px);
	filter: grayscale(1) blur(2px);
}

#content td {
	margin: 0 300px 340px 20px;
	padding: auto;
	display: inline-block;

	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}

#content td:hover {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}

img {
	position: absolute;
	z-index: 1;
	max-width: 250px;
	max-height: 250px;
	background-color: #dddddd;
	border: 1px solid black;
	border-radius: 2px;

	-webkit-transition: padding .5s linear;
	-moz-transition: padding .5s linear;
	-ms-transition: padding .5s linear;
	-o-transition: padding .5s linear;
	transition: padding .5s linear;
	padding: 10px;
}

img:hover {
	z-index: 5;
	box-shadow: 0 0 10px purple;
	padding: 0;
	border: none;
}
