@import url(https://fonts.googleapis.com/css?family=Playball);

body {
	background-color: #29241b;
	color: #eae0c2;
	font-family: 'Playball', 'Times new roman',  sans-serif;
}


header h1{
	font-size: 200%;
}

footer {
	text-align: center;
	font-style: italic;
	font-size: 10pt;
}

nav {
	float: left;
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

nav p {
	display:inline-block;
	margin: 0;
	padding: 0 5px;
}

nav .ul {
	display: inline;
	list-style: none;
}

nav li {
	display:inline-block;
	margin: 0 20px;
}

nav li:hover {
}

.menu:focus {
	outline: none;
}

.menu:hover .menu-content {
	display: initial;
}

.menu-content {
	z-index: 1;
	display: none;
}

#content {
	max-width: 75%;
	clear: both;
	margin: auto;
	padding: 0 50px;
	text-align: center;
}

#content table {
	margin: auto;
	text-align: center;
}

#content tr {
	text-align: center;
}

tr:hover td:not(:hover) {
	-webkit-filter: grayscale(1) blur(2px);
	-moz-filter: grayscale(1) blur(2px);
	-ms-filter: grayscale(1) blur(2px);
	-o-filter: grayscale(1) blur(2px);
	filter: grayscale(1) blur(2px);
}

#content td {
	margin: 0 300px 340px 20px;
	padding: auto;
	display: inline-block;

	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}

#content td:hover {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
}

img {
	position: absolute;
	z-index: 1;
	max-width: 250px;
	max-height: 250px;
	background-color: #dddddd;
	border: 1px solid black;
	border-radius: 2px;

	-webkit-transition: padding .5s linear;
	-moz-transition: padding .5s linear;
	-ms-transition: padding .5s linear;
	-o-transition: padding .5s linear;
	transition: padding .5s linear;
	padding: 10px;
}

img:hover {
	z-index: 5;
	box-shadow:0 0 10px black;
	padding: 0;
	border: none;
}

button {
	-webkit-box-shadow: none 0px 1px 0px 0px;
	box-shadow: none 0px 1px 0px 0px;
	border-radius: 10px;
	border: 2px solid #514841;
	display: inline-block;
	cursor: pointer;
	color: #808757;
	font-weight: bold;
	padding: 5px 10px;
	text-shadow: #000000 1px 1px 1px;
	background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194);
}