@import url(https://fonts.googleapis.com/css?family=Poiret+One);

ul{
	color: #000000;
}

li {
	margin: 2px;
	margin-left: 0px;
	-webkit-transition: margin-left 2s;
	-moz-transition: margin-left 2s;
	-o-transition: margin-left 2s;
	-ms-transition: margin-left 2s;
	transition: margin-left 2s;
}

li:hover {
	margin-left: 20px;
}

a:focus {
	color: #00ff00;
}


@-webkit-keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	0% {
		transform: rotate(360deg);
	}
	0% {
		transform: rotate(0deg);
	}
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	0% {
		transform: rotate(360deg);
	}
	0% {
		transform: rotate(0deg);
	}
}

#content p:first-letter {
    background: red;
	font-size: 180%;
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

#content_text{
	-webkit-column-count: 2;
	-moz-column-count: 2;/
	column-count: 2;

	-webkit-transition:-webkit-transform .9s;
	-moz-transition:-moz-transform .9s;
	-o-transition:-o-transform .9s;
	-ms-transition:-ms-transform .9s;
	
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

#content_text:hover{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}

h1, h2 {
	font-family: 'Poiret One';
	text-shadow: 2px 5px 2px red;
}

h2 {
	transform: translateY(20px) rotate(3deg);
}

footer {
	border: 1px solid grey;
	width: 300px;
	border-radius: 5px;

	-webkit-animation: footerMove 5s linear infinite;
	-moz-animation: footerMove 5s linear infinite;
	-ms-animation: footerMove 5s linear infinite;
	-o-animation: footerMove 5s linear infinite;
	animation: footerMove 5s linear infinite;
}

@-webkit-keyframes footerMove {
	0% { margin-left:0; }
	50% { margin-left:79%; }
	100% { margin-left: 0% }
}

@keyframes footerMove {
	0% { margin-left:0; }
	50% { margin-left:79%; }
	100% { margin-left: 0% }
}