@media screen and (max-width: 640px) {
	body {
		padding: 0;
		margin: 0;
		font-family: Georgia, Serif;
		font-size: 10pt;
		background-color: #eeeeee;
	}

	#container {
		margin: 10px;
		color: #333;
	}

	nav {
		width: 200px;
		padding-left: 15px
	}

	nav ul {
		padding: 0px;
		margin: 0px;
	}

	nav li {
		margin:2px;
	}

	header {
		color: black;
		padding: 20px;
		margin: 0;
	}

	h1, h2 {
		font-variant: small-caps;
	}

	header h1 {
		padding: 0;
		margin: 0;	
	}

	#content {
		padding: 1em;
		text-align: justify;
	}

	#content p::first-letter {
		padding-left: 20px;
	}

	#picture {
		padding: 5px;
	}

	#picture img {
		width: 100px;
		display: block;
		margin: auto;
	}

	footer {
		margin: 0;
		padding: .3em;
		color: #666;
	}

	footer p {
		padding: 0;
		margin: 0;
		text-align: center;
	}
}